/* General style */

html {
    box-sizing: border-box;
}

body {
    background-color: #111111;
    font-family: 'Space Mono';
    font-size: 16px;
    color: whitesmoke;
}

.fixed-elements, .navbar {
    color: #FFFFFF;
    text-shadow: 1px 1px #72fbfd;
    /*text-shadow: 1px 1px #00debd;*/
}

/* NAVBAR */

.navbar {
    display: flex;
    height: 3rem;
}

.nav {
    flex: 1;
}

.name {
    display: flex;
    margin-left: 2rem;
    margin-top: 1rem;
    height: 2rem;
}

.nav.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
}

.navbar ul li{
    display: inline;
    letter-spacing: 0.2rem;
}

.navbar li a {
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 1px 1px #72fbfd;
}

.navbar li+li::before{
    content: "/ ";
}

/* FIXED */

.top-arrow {
    position: fixed;
    right: 2rem;
    bottom: 1.5rem;
    border: solid #FFFFFF;
    box-shadow: 2px 2px #72fbfd;
    border-width: 0 3px 3px 0;
    padding: 0.5rem;
    transform: rotate(-135deg);
}

.bottom-arrow {
    position: absolute;
    right: 2rem;
    bottom: 1.5rem;
    border: solid #FFFFFF;
    box-shadow: 2px 2px #72fbfd;
    border-width: 0 3px 3px 0;
    padding: 0.5rem;
    transform: rotate(45deg);
  }

.wagmi {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    letter-spacing: 0.2rem;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header .hello {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(to top, transparent, 80%, #111111),
        linear-gradient(to bottom, transparent, 80%, #111111),        
        url('../images/galaxy2.jpeg');
    background-size: cover;
}

header .landing.top {
    flex: 1;
}

header .landing.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    font-family: "Work Sans";
    color: #72fbfd;
    font-weight: bolder;
    word-spacing: 3rem;
    letter-spacing: 0.5rem;
}

#machine-learning {
    word-spacing: 1rem;
}

h1 {
    font-family: "Work Sans";
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 2px 2px #72fbfd;
    line-height: 4rem;
}

h2 {
    font-family: "Work Sans";
    font-size: 2rem;
    font-weight: bold;
    color: #72fbfd;
    text-shadow: 2px 2px #FFFFFF;
    text-align: center;
    margin-bottom: 5rem;
}

h3 {
    font-family: "Work Sans";
    font-size: 1.3rem;
    color: white;
    opacity: none;
}

p {
    line-height: 2rem;
    font-size: 1.2;
}

a {
    text-decoration: none;
}

/* WRAPPER GENERAL */

.wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
}

.center {
    display: flex;
    flex: 3;
    flex-direction: column;
    text-align: justify;
    justify-content: stretch;
}

.center p {
    margin-bottom: 2rem;
}

aside {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside p {
    font-family: "Work Sans";
    color: #72fbfd;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}

.card {
    display: flex;
    background-color: #181818;
    box-shadow: 0px 0px 0px 2px #181818, 0px 0px 5px 5px #151515;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    font-family: "Work Sans";
    height: 5rem;
}

.card:hover {
    cursor: pointer;
    border: 1px solid #00FF82;
    text-decoration: none;
}

/* WRAPPER ONE - PRESENTATION */

#monkey-top  {
    width: 12rem;
    border-radius: 50%;
    display: none;
}

#monkey-left {
    width: 12rem;
    border-radius: 50%;
}

#itas {
    color: whitesmoke;
    text-decoration: none;
}

#itas:hover {
    cursor: pointer;
    color: #72fbfd;
    text-decoration: none;
}
/* WRAPPER TWO - ARTICLES */

.articles {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* PROJECTS */

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#stableswap {
    width: 18rem;
}

/* FOOTER */

footer {
    display: flex;
    margin-top: 7rem;
    margin-bottom: 1rem;
    margin-bottom: 2rem;;
}

footer .center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer .center a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 1px 1px #72fbfd;
}

footer aside {
    flex: 2;
}

footer div {
    flex: 3;
    text-align: justify;
}

footer p {
    text-align: center;
    font-size: 1rem;
}

.made-with {
    text-align: center;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 890px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        height: 4rem;
    }

    .name {
        display: flex;
        margin-left: 0rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        height: 2rem;
    }

    header .landing.bottom {
        display: flex;
        flex-direction: column;
        word-spacing: 1.5rem;
        letter-spacing: 0.3rem;
    }

    .card h3 {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 810px) {
    header .landing.bottom {
        display: flex;
        flex-direction: column;
        word-spacing: 1rem;
        letter-spacing: 0.2rem;
    }

    #machine-learning {
        word-spacing: 0.6rem;
    }

    .top-arrow, .bottom-arrow, .wagmi {
        display: none;
    }

    aside {
        flex: 0.5;
    }

    aside img {
        display: none;
    }

    aside.right p {
        display: none;
    }

    footer .center {
        flex-direction: column;
        gap: 1rem;
    }

    #monkey-top {
        width: 9rem;
        border-radius: 50%;
        display: flex;
        margin: 3.5rem auto;
    }
}

@media only screen and (max-width: 550px) {
    body {
        font-size: 14px;
    }

    .navbar {
        height: 5rem;
    }

    .nav.right {
        align-items: center;
        margin-right: 0rem;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .navbar li+li::before{
        content: none;
    }

    header .landing.bottom {
        display: flex;
        flex-direction: column;
        word-spacing: 0.2rem;
        letter-spacing: 0.1rem;
    }

    #machine-learning {
        word-spacing: 0.1rem;
    }

    h1 {
        font-size: 2.5rem;
    }
    
    .hello h1 {
        line-height: 2.5rem;
    }

    .card h3 {
        font-size: 1.1rem;
    }

    .project-cards {
        height: 7rem;
    }

    .project-cards .card {
        height: 3.5rem;
    }

    .articles-cards {
        height: 15rem;
    }

    .articles-cards .card {
        height: 3.5rem;
    }
}

@media only screen and (max-width: 450px) {
    body {
        font-size: 12px;
    }

    h1 {
        font-size: 2rem;
    }
    
    .hello h1 {
        line-height: 2rem;
    }

    h2 {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 360px) {
    body {
        font-size: 12px;
    }

    h1 {
        font-size: 1.8rem;
    }
    
    .hello h1 {
        line-height: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }
}