/* General style */

html {
    box-sizing: border-box;
}

body {
    background-color: #131313;
    font-family: 'Space Mono';
    font-size: 16px;
    color: whitesmoke;
}

.fixed-elements {
    color: #00FF82;
    text-shadow: 2px 2px #FF00B1;
}

.navbar {
    color: #00FF82;
    text-shadow: 2px 2px #FF00B1;
    display: flex;
    height: 3rem;
}

.nav {
    flex: 1;
}

.logo {
    position: fixed;
}

.nabla {  
    font-size: 2.5rem;
    left: 2rem;
    top: 0.2rem;
}

.dot {
    left: 2.45rem;
    top: 0.7rem;
}

.name {
    left: 3.7rem;
    top: 1rem;
    letter-spacing: 0.2rem;
}

.nav.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
}

.navbar ul li{
    display: inline;
    letter-spacing: 0.2rem;
}

.navbar li a {
    text-decoration: none;
    color: #00FF82;
    text-shadow: 2px 2px #FF00B1;
}

.navbar li+li::before{
    content: "/ ";
}

.top-arrow {
    position: fixed;
    right: 2rem;
    bottom: 1.5rem;
    border: solid #00FF82;
    box-shadow: 2px 2px #FF00B1;
    border-width: 0 3px 3px 0;
    padding: 0.5rem;
    transform: rotate(-135deg);
}

.bottom-arrow {
    position: absolute;
    right: 2rem;
    bottom: 1.5rem;
    border: solid #00FF82;
    box-shadow: 2px 2px #FF00B1;
    border-width: 0 3px 3px 0;
    padding: 0.5rem;
    transform: rotate(45deg);
  }

.wagmi {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    letter-spacing: 0.2rem;
}

header {
    display: flex;
}

header div {
    gap: 20rem;
    height: 80vh;
    margin-bottom: 8rem;
    justify-content: space-around;
}

header .hello {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #00FF82;
}

header .nft {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #FF00B1;
}

#nft {
    width: 80%;
    border: 0.7rem solid #232323;;
}

h1 {
    font-family: "Work Sans";
    font-size: 3rem;
    font-weight: bold;
    color: #00FF82;
    text-shadow: 2px 2px #FF00B1;
}

.hello h1 {
    font-size: 3rem;
    line-height: 4rem;
}

/* WRAPPER */

.wrapper {
    display: flex;
}

.wrapper aside {
    flex: 2;
}

.wrapper aside.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Work Sans";
    color: #00FF82;
}


.wrapper div {
    flex: 3;
    text-align: justify;
}

h2 {
    font-family: "Work Sans";
    font-size: 2rem;
    font-weight: bold;
    color: #00FF82;
    text-shadow: 2px 2px #FF00B1;
    margin-bottom: 2rem;
}

p {
    line-height: 2rem;
    font-size: 1.2;
}

.wrapper.one {
    margin-bottom: 3rem;
}

/* FOOTER */

footer {
    display: flex;
    margin-top: 10rem;
    margin-bottom: 1rem;
}

footer .center {
    display: flex;
    justify-content: space-between;
}

footer .center div{
    display: flex;
    justify-content: center;
}

footer aside {
    flex: 2;
}

footer div {
    flex: 3;
    text-align: justify;
}

img.icon {
    width: 35px;
}