/* General style */
:root {
    --black: #181818;
    --gray-1: #212121;
    --gray-2: #3d3d3d;
    --gray-3: #aaaaaa;
    --white: #ffffff;
    --ligh-green: #00ffef;
    --ultramarine-blue: #4166f5;
    --purple: #815bd9;
    --main-font: 'Helvetica Neue';
    --secondary-font: 'Source Code Pro';
    --width: 64rem;
}

h1 {
    font-family: var(--main-font);
    background: -webkit-linear-gradient(45deg, var(--ultramarine-blue), var(--ligh-green));
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 4rem;
}

h2 {
    font-family: var(--main-font);
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 40px;
}

h3 {
    font-family: var(--secondary-font);
    color: var(--white);
    font-size: 1rem;
    font-weight: 100;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    text-align: justify;
}

a {
    color: var(--gray-3);
    text-decoration: underline;
}

html {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background: var(--black);
    color: var(--white);
    max-width: var(--width);
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

/* NAVBAR */
nav {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 5rem;
    border-bottom: 1px solid #b3b3b3;
}

.name {
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 19px;
    padding-right: 2rem;
    letter-spacing: 0.5rem;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.folks {
    flex: 2;
}

.urahara {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.banner img {
    border-radius: 50%;
    max-width: 200px;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header .hello {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0 50px;
}

header .presentation {
    flex: 2;
    padding: 0px 50px;
}

/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 5rem;
    border-top: 1px solid #b3b3b3;
}

footer .fa-brands, footer .fa-solid {
    padding: 20px;
    font-size: 1.5em;
    width: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: var(--white);
}

@media only screen and (max-width: 870px) {
    .banner {
        flex-direction: column;
        gap: 30px;
    }

    body {
        height: auto;
    }

    nav {
        margin-bottom: 50px;
    }

    footer {
        margin-top: 50px;
    }

    header .hello {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 50px;
        text-align: center;
    }

    .presentation {
        margin-top: 50px;
    }

}

@media only screen and (max-width: 800px) {
    .hello h2 {
        line-height: 2rem;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
       font-size: 2.9rem;
       line-height: 3rem; 
    }

    h2 {
        font-size: 1.2rem; 
        line-height: 1.33rem;     
    }

    h3 {
        font-size: 0.8rem;
        letter-spacing: 0.05rem; 
    }

    .name {
        font-size: 1.2rem;
    }

    body {
        margin: 0 10px;
    }

    .banner img {
        border-radius: 50%;
        max-width: 150px;
    }

    header .hello {
        padding: 0 20px;
    }

    nav, footer {
        height: 3rem;
    }
}

@media only screen and (max-width: 375px) {
    body {
        max-width: 32rem;
        margin: 0 5px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2, .name {
        font-size: 1rem;
    }

    nav {
        border-bottom: 0.5px solid #b3b3b3;
        justify-content: center;
    }

    footer {
        border-top: 0.5px solid #b3b3b3;
        gap: 15px;
    }

    .name {
        font-size: 1.2rem;
        padding-right: 0;
    }

    
    .hello h1 {
        line-height: 1.8rem;
    }
}